.Main {
  margin: 0rem 2rem;
  text-align: center;
  height: 100vh - 10vh - 7vh;
  flex-grow: 1;
  color: rgb(164, 231, 231);
  background-color: var(--back-color);

  .TableHeader {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;

    .Heading {
      background-color: var(--heading-back-color);
      margin: 0;
      padding: 0.5rem;
      font-size: large;
      border: thin solid transparent;
      border-radius: 0.75rem;
    }
  }

  .ReviewContainer {
    display: flex;
    justify-content: space-between;
    align-items: start;

    .UserReviewContainer {
      background-color: var(--back-color);
      height: auto;
      overflow: scroll;
      scrollbar-width: none;
      height: 100vh - 10vh - 13vh;
    }  
  }
}

.Loader {
  height: 100vh - 10vh - 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}